<div class="bs-component">
  <table class="table table-striped table-hover ">
    <thead>
      <tr> 
        <th></th>
        <th>Liczba mandatów</th>
        <th>Liczba uprawnionych</th>
        <th>Liczba wydanych kart</th> 
        <th>Frekwencja</th>
        <th>Liczba głosów ważnych</th>        
        <th>Liczba głosów nieważnych</th>        
      </tr>
    </thead>

    <tbody>
      <% @constituencies.each do |constituency| %>
        <tr>    
          <td><%= link_to("Okręg nr #{constituency.number}", :controller => 'report/constituencies', :action => 'show', :id => constituency.id) %></td>
          <td><%= constituency.mandates %></td>
          <td><%= constituency.voters %></td>
          <td><%= constituency.ballots %></td>
          <td><%= constituency.voters? ? number_to_percentage(constituency.ballots.to_f/constituency.voters.to_f * 100, precision: 2) : '-' %></td>
          <td><%= constituency.valid_votes.sum("quantity") %></td>
          <td><%= constituency.invalid_votes.sum("quantity") %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
        <tr>         
          <td>Suma w skali województwa:</td>
          <td><%= @constituencies.sum('mandates') %></td>
          <td><%= @constituencies.sum('voters') %></td>
          <td><%= @constituencies.sum('ballots') %></td>
          <td><%= number_to_percentage(Float(@constituencies.sum('ballots'))/Float(@constituencies.sum('voters')) * 100, precision: 2) %></td>
          <td><%= @valid_votes_sum %></td>
          <td><%= @invalid_votes_sum %></td>
        </tr>
    </tfoot>
  </table>
</div>
<br>
