<%= form_for @constituency, :html => {:class => "form-horizontal"} do |f| %>

  <%= render 'layouts/errors', object: @constituency %>

<div class="col-sm-6">
  <% if action_name != 'edit' %>
  <div class="form-group">
    <%= f.label :province_id, class: "control-label col-sm-4" %>
    <div class="col-sm-4">
	<%= f.collection_select(:province_id, Province.all, :id, :name, {}, {:class => 'form-control col-sm-4', :required => true}) %>	      
    </div>    
  </div>  
  
  <div class="form-group">
      <%= f.label :number, class: "control-label col-sm-4" %>
    <div class="col-sm-4">
      <%= f.number_field :number, class: "form-control", :required => true %>      
    </div>
  </div>
  <% end %>

  <div class="form-group">
      <%= f.label :mandates, class: "control-label col-sm-4" %>
    <div class="col-sm-4">
      <%= f.number_field :mandates, class: "form-control" %>      
    </div>
  </div>


  <div class="form-group">
      <%= f.label :voters, class: "control-label col-sm-4" %>
    <div class="col-sm-4">
      <%= f.number_field :voters, class: "form-control" %>      
    </div>
  </div>

 <div class="form-group action">
  <div class="col-sm-4 control-label">
    <%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> powrót'.html_safe, constituencies_path, class: "btn btn-sm btn-primary" %>
  </div>
  <div class="col-sm-4">
    <%= f.submit 'zapisz okręg', class: "btn btn-default form-control" %>
  </div>
 </div>
</div>  
<% end %>
