<div class="page-header">
  <h1>Okręgi</h1>
</div>

<div class="col-lg-offset-11">
  &nbsp; <%= link_to '<span class="glyphicon glyphicon-plus"></span> dodaj'.html_safe, new_constituency_path, class: "btn btn-success btn-xs" %>
</div>

<div class="bs-component">
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Województwo</th>        
        <th>Numer</th>
        <th>Ilość mandatów</th>
        <th>Ilość uprawnionych do głosowania</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @constituencies.each do |constituency| %>
        <tr>
          <td><% if constituency.province.present? %><%= constituency.province.name %><% end %></td>          
          <td><%= constituency.number %></td>
          <td><%= constituency.mandates %></td>
          <td><%= constituency.voters %></td>
          <td class="col-md-1"><a href="<%= url_for :action => 'show', :id => constituency.id %>" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-eye-open"></span> pokaż</a></td>
          <td class="col-md-1"><a href="<%= edit_constituency_path(constituency) %>" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span>  edytuj</a></td>
          <td class="col-md-1"><%= link_to '<span class="glyphicon glyphicon-remove"></span> usuń'.html_safe, constituency, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>


