<div class="page-header">
  <h1>Okręg nr <%= @constituency.number %>, <%= @constituency.province.name %></h1>  
</div>

<div class="col-lg-12" style="padding-bottom: 10px;">

  <div class="col-lg-3 text-right"><b>Ilość mandatów:</b></div>
  <div class="col-lg-9"><%= @constituency.mandates %></div>
  
</div>

<div class="col-lg-12" style="padding-bottom: 25px;">

  <div class="col-lg-3 text-right"><b>Ilość uprawnionych do głosowania:</b></div>
  <div class="col-lg-9"><%= @constituency.voters %></div>

</div>

  <div class="col-sm-4 control-label">
    <%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> powrót'.html_safe, constituencies_path, class: "btn btn-sm btn-primary" %>
  </div>
