<%= form_for @committee, :html => {:class => "form-horizontal"} do |f| %>

  <%= render 'layouts/errors', object: @committee %>

<div class="col-sm-6">
  <div class="form-group">
      <%= f.label :name, 'Nazwa', class: "control-label col-sm-4" %>
    <div class="col-sm-6">
      <%= f.text_field :name, class: "form-control", :required => true %>      
    </div>
  </div>

  <%#*<div class="field">%>
    <%#= f.label :logo %><br>
    <%#= f.text_field :logo %>
  <%#*</div>%>
    
 <div class="form-group action">
  <div class="col-sm-4 control-label">
    <%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> powrót'.html_safe, committees_path, class: "btn btn-sm btn-primary" %>
  </div>
  <div class="col-sm-4">
    <%= f.submit 'zapisz komitet', class: "btn btn-default form-control" %>
  </div>
 </div>
  
</div>  
<% end %>
