<%= form_for(@province) do |f| %>
  <% if @province.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@province.errors.count, "error") %> prohibited this province from being saved:</h2>

      <ul>
      <% @province.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <p>
  <select id="committee_ids" name="committee_ids[]" multiple="multiple">
	<%= options_for_select(@committees, @province.committees.collect {|d| d.id }) %>
  </select>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
