<!DOCTYPE html>
<html>
<head>
  <title>Panel administracyjny - PKW</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="../">PKW</a>
        </div>
        <div id="navbar-main" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to('Komitety',:committees) %></li>
            <li><%= link_to('Województwa',:provinces) %></li>
            <li><%= link_to('Okręgi',:constituencies) %></li>            
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><%= render 'devise/menu/login_items' %></li>
          </ul>

        </div>
      </div>
    </div>
  
  <div id="main-container" class="container">

  <%= yield %>    
  </div>

</body>
</html>
