<!DOCTYPE html>
<html>
<head>
  <title>Panel administracyjny - PKW</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'devise/menu/login_items' %>   

  <ul class="hmenu">
    <li><%= link_to('Komitety',:committees) %></li>
    <li><%= link_to('Województwa',:provinces) %></li>
    <li><%= link_to('Okręgi',:constituencies) %></li>
  </ul> 

  <%= yield %>

</body>
</html>
